@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

label.error {
  color: #f00;
  font-weight: bold;
}
input.error,
select.error,
textarea.error {
  border: 1px red solid;
}

/* Header CSS */
header{
  position: relative;
}
header img{
  height: fit-content;
  position: absolute;
  float: right;
  padding:3px 0;
  top: 0 ;
  right: 7.5%;
}
.header-nav{
  position: relative;
  margin-top: 28px;
  background-color: #f7f7f7;
  overflow: auto;
}
.header-nav h1{
  margin:auto 25px;
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-size: 48px;
  color: black;
  display: inline-block;
}
.header-nav .col:last-child{
  text-align: right;
}
.navigation{
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 22.2px;
  margin-bottom: 22.2px;
  margin-right: 22.2px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  display: inline-block;
  color: black;
}
.navigation ul{
  margin: 0;
  padding: 0;
}
.navigation ul li{
  display: inline;
}
.navigation ul li a u{
  text-underline-position: under;
  text-decoration: underline overline #9a2828;
}
.navigation ul li a:link{
  text-decoration: none;
  color: black;
}
.navigation ul li a:visited{
  text-decoration: none;
  color: black;

}
.navigation ul li a:hover{
  color: #9a2828;
}

/* Footer CSS */
footer .row{
  margin: 1%;
}
footer h1{
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-size: 40px;
  color: white;
  display: inline;
}
footer p{
  display: inline;
  padding-left: 2%;
}
footer .col:last-child{
  text-align: right;
  padding-right: 2%;
}

/*HomePage CSS*/
.hp-content{
  background-image: url('../Images/HP_Background.jpg');
  height: 80vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.text-block{
  position: inherit;
  width: 80vw;
  margin-top: 10%;
  margin-left: 7.5%;
  background-color: #ffffffad;
  color: black;
  padding:20px 20px;
  word-break: break-word;
  border-radius: 10px;
}

/*Tips & Tricks CSS*/
.tt-content .row:first-child{
  padding:0;
}
.tt-content h1{
  padding-top: 25px;
  padding-left: 25px;
  color: #2d1b1b;
  font-family:  Lexend Deca, sans-serif;
  font-weight: bold;
  text-shadow: none;

}
.tt-content .search-bar{
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  margin-left:40%;
  margin-right: 25px;
}
.tt-content hr{
  margin-top: 0;
  margin-bottom: 2.5%;
}

.tt-content .video-frames{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.tt-content .video-frames .item{
  padding: 20px;
  width: fit-content;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
}
.tt-content .video-frames .item iframe{
  width: 100%;
  aspect-ratio: 1280/720;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.38));
  margin-right: auto;
  margin-left: auto;
}
.tt-content .video-frames .item h2{
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}


/*Subscription*/
.card-header ul{
  justify-content: center;
  align-items: center;
  font-family: Bebas Neue, sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  text-shadow: none;
  text-transform: uppercase;
}

.sub-content .card-body{
  min-height: 73vh;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.7);
}
.wrapper .card{
  max-width: 500px;
  background-color: white;
  font-family: Poppins, sans-serif;
  padding: 40px;
  margin: 30px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
  3px 3px 10px -1px rgba(255,255,255,0.7);
}
.wrapper .card ul{
  list-style: none;
  padding:0;
  color:#2d1b1b;
  font-weight: 600;
  text-align: left;
}
.wrapper .card h3{
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 800;
  color:#2d1b1b;
}
.wrapper .card h1{
  margin-bottom: 10px;
  color:#2d1b1b;
  font-weight: 600;
}
.wrapper .card h1 span{
  font-size: 12px;
  color: rgba(0,0,0,0.7);
}
.wrapper .card p{
  margin: 20px 0;
  color:#2d1b1b;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.wrapper .card ul li{
  line-height: 3;
  color: rgba(0,0,0,0.9);
}
.wrapper .card ul li i{
  color: rgba(0,0,0,0.4);
  margin-right: 10px;
}
.wrapper .card a{
  margin: 20px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid #5f30e2;
  color: #5f30e2;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.4s;
}
.wrapper .card a:hover{
  background-color: #5f30e2;
  color: white;
  text-shadow: none;
}
.wrapper .card:hover{
  background-color: rgba(59, 59, 59, 0.06);
  transform: scale(1, 1.09);
}

/*Store*/
.store-content{
  margin-bottom: 5%;
}
.store-content .row:first-child{
  padding:0;
}
.store-content h1{
  padding-top: 25px;
  padding-left: 25px;
  color: #2d1b1b;
  font-family:  Lexend Deca, sans-serif;
  font-weight: bold;
  text-shadow: none;

}
.store-content .search-bar{
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  margin-left:55%;
}
.store-content .icon-cart {
  position: relative;
    margin-top: auto;
    margin-bottom: auto;
  margin-right: 25px;
}
.store-content .icon-cart svg{
  width: 30px;
}
.store-content  .icon-cart span{
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -7.5px;
}

.store-content hr{
  margin-top: 0;
  margin-bottom: 2.5%;
}

.store-content .listProduct{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.store-content .listProduct .item{
  background-color: #EEEEE6;
  padding: 20px;
  width: fit-content;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
}
.store-content .listProduct .item a img{
  width: 100%;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.38));
  margin-right: auto;
  margin-left: auto;
}
.store-content .listProduct .item h2{
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.store-content .listProduct .item .price{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.store-content .listProduct .item button{
background-color: #2c1b1b;;
  color: #eee;
  border: none;
  width: fit-content;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-shadow: none;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}
.store-content .listProduct .item button:hover{
  background-color: #50001c;;
  color: #eee;
  transform: scale(1.25,1.25);
}

#Store section{
  position: relative;
}
#Store section .cartTab{
  height:80vh;
  width: 30%;
  max-width: 100%;
  margin-top:1%;
  background-color: #353432;
  color: #eee;
  font-family: Poppins, sans-serif;
  text-shadow: none;
  border-radius: 25px 0 0 25px;
  position: absolute;
  top:0;
  right: 0.5vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px 75px;
}
#Store section .cartTab h1{
  padding: 20px;
  margin:0;
  text-shadow: none;
  font-weight: 600;
}
#Store section .cartTab button{
  background-color: #E8BC0E;
  border: none;
  cursor: pointer;
  height:fit-content;
  text-shadow: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
#Store section .cartTab .subtotal{

}
#Store section .cartTab .subtotal h5:first-child{
  text-align: right;
  color: #e7bb0e;
}
#Store section .cartTab .subtotal h5:last-child{
  text-align: left;
  padding-right: 5vw;
  color: #e7bb0e;
}

#Store section .cartTab .listCart{
  overflow: auto;
}
#Store section .cartTab .listCart .item{
  gap: 10px;
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
  -webkit-user-select: none;
}
#Store section .cartTab .listCart .item .row img{
  width: 7em;
  padding-left: 1em;
}
#Store section .cartTab .listCart .item .row .name{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9em;
}
#Store section .cartTab .listCart .item .row .totalPrice{
  margin-top: auto;
  margin-bottom: auto;
}
#Store section .cartTab .listCart .item .row .quantity{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 2em;
}
#Store section .cartTab .listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
#Store section .cartTab .listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
  cursor: pointer;;
}
#Store section .cartTab .listCart .item:nth-child(even){
  background-color: #eee1;
}
#Store section .cartTab .listCart::-webkit-scrollbar{
  width: 0;
}
#Store section .activeTabCart{
  margin-left: 2%;
  width: 68%;
}

@media only screen and (max-width: 992px) {
  .tt-content .video-frames{
    grid-template-columns: repeat(2, 1fr);
  }
  .store-content .listProduct{
    grid-template-columns: repeat(3, 1fr);
  }
  .store-content .detail{
    grid-template-columns:  40% 1fr;
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  .tt-content .video-frames{
    grid-template-columns: repeat(1, 1fr);
  }
  .store-content .listProduct{
    grid-template-columns: repeat(2, 1fr);
  }
  .detail{
    text-align: center;
    grid-template-columns: 1fr;
  }
  .detail .image img{
    width: unset;
    height: 40vh;
  }
  .detail .name{
    font-size: x-large;
    margin: 0;

  }
  .detail .buttons button{
    font-size: small;
  }
  .detail .buttons{
    justify-content: center;
  }
}
